<div class="container pb-5 px-sm-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div id="video-player" class="col-12">
            <div class="tutorial container text-center my-5 ratio ratio-16x9">
                <iframe style="min-width:280px; min-height:157px;" width="560px" height="315px"
                        src="https://www.youtube.com/embed/-FO_0m0qgSo?si=L73cPJVuWA5TT1f4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row py-4">
        <div class="d-grid gap-md-2 col-md-6 col-sm-12 gap-sm-0 mx-auto">
            <a class="btn btn-primary btn-lg" target="_blank" href="{{youTubeUrl}}" role="button">See More on YouTube</a>
        </div>
    </div>
</div>